@theme {
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;

    @keyframes accordion-down {
        from {
            height: 0
        }

        to {
            height: var(--radix-accordion-content-height)
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height)
        }

        to {
            height: 0
        }
    }

    @keyframes caret-blink {

        0%,
        70%,
        100% {
            opacity: 1
        }

        20%,
        50% {
            opacity: 0
        }
    }
}

/*
  The following lines are included manually from tw-animate-css package because of export resolution issues.
*/
@utility animate-in {
    animation-name: enter;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
}

@utility animate-out {
    animation-name: exit;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
}

@keyframes enter {
    from {
        opacity: var(--tw-enter-opacity, 1);
        transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
    }
}

@keyframes exit {
    to {
        opacity: var(--tw-exit-opacity, 1);
        transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
    }
}

@utility duration-* {
    animation-duration: calc(--value(number)*1ms);
    animation-duration: --value(--duration-*, [*]);
}

@utility delay-* {
    animation-delay: calc(--value(number)*1ms);
    animation-delay: --value(--duration-*, [*]);
}

@utility ease-* {
    animation-timing-function: --value(--ease-*, [*]);
}

@utility repeat-* {
    animation-iteration-count: --value(integer);
    animation-iteration-count: --value([*]);
}

@utility direction-* {
    animation-direction: --value([*]);
}

@utility fill-mode-* {
    animation-fill-mode: --value([*]);
}

@utility running {
    animation-play-state: running;
}

@utility paused {
    animation-play-state: paused;
}

@utility play-state-* {
    animation-play-state: --value("initial", [*]);
}

@utility blur-in {
    --tw-enter-blur: 20px;
}

@utility blur-in-* {
    --tw-enter-blur: calc(--value(number)*1px);
    --tw-enter-blur: --value(--blur-*, [*]);
}

@utility blur-out {
    --tw-exit-blur: 20px;
}

@utility blur-out-* {
    --tw-exit-blur: calc(--value(number)*1px);
    --tw-exit-blur: --value(--blur-*, [*]);
}

@utility fade-in {
    --tw-enter-opacity: 0;
}

@utility fade-in-* {
    --tw-enter-opacity: calc(--value(number)/100);
    --tw-enter-opacity: --value(--percentage-*, [*]);
}

@utility fade-out {
    --tw-exit-opacity: 0;
}

@utility fade-out-* {
    --tw-exit-opacity: calc(--value(number)/100);
    --tw-exit-opacity: --value(--percentage-*, [*]);
}

@utility zoom-in {
    --tw-enter-scale: 0;
}

@utility zoom-in-* {
    --tw-enter-scale: calc(--value(number)*1%);
    --tw-enter-scale: calc(--value(ratio));
    --tw-enter-scale: --value(--percentage-*, [*]);
}

@utility -zoom-in-* {
    --tw-enter-scale: calc(--value(number)*-1%);
    --tw-enter-scale: calc(--value(ratio)*-1);
    --tw-enter-scale: --value(--percentage-*, [*]);
}

@utility zoom-out {
    --tw-exit-scale: 0;
}

@utility zoom-out-* {
    --tw-exit-scale: calc(--value(number)*1%);
    --tw-exit-scale: calc(--value(ratio));
    --tw-exit-scale: --value(--percentage-*, [*]);
}

@utility -zoom-out-* {
    --tw-exit-scale: calc(--value(number)*-1%);
    --tw-exit-scale: calc(--value(ratio)*-1);
    --tw-exit-scale: --value(--percentage-*, [*]);
}

@utility spin-in {
    --tw-enter-rotate: 30deg;
}

@utility spin-in-* {
    --tw-enter-rotate: calc(--value(number)*1deg);
    --tw-enter-rotate: calc(--value(ratio)*360deg);
    --tw-enter-rotate: --value(--rotate-*, [*]);
}

@utility -spin-in {
    --tw-enter-rotate: -30deg;
}

@utility -spin-in-* {
    --tw-enter-rotate: calc(--value(number)*-1deg);
    --tw-enter-rotate: calc(--value(ratio)*-360deg);
    --tw-enter-rotate: --value(--rotate-*, [*]);
}

@utility spin-out {
    --tw-exit-rotate: 30deg;
}

@utility spin-out-* {
    --tw-exit-rotate: calc(--value(number)*1deg);
    --tw-exit-rotate: calc(--value(ratio)*360deg);
    --tw-exit-rotate: --value(--rotate-*, [*]);
}

@utility -spin-out {
    --tw-exit-rotate: -30deg;
}

@utility -spin-out-* {
    --tw-exit-rotate: calc(--value(number)*-1deg);
    --tw-exit-rotate: calc(--value(ratio)*-360deg);
    --tw-exit-rotate: --value(--rotate-*, [*]);
}

@utility slide-in-from-top {
    --tw-enter-translate-y: -100%;
}

@utility slide-in-from-top-* {
    --tw-enter-translate-y: calc(--value(integer)*var(--spacing)*-1);
    --tw-enter-translate-y: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
    --tw-enter-translate-y: calc(--value(ratio)*-100%);
    --tw-enter-translate-y: calc(--value(--translate-*, [percentage], [length])*-1);
}

@utility slide-in-from-bottom {
    --tw-enter-translate-y: 100%;
}

@utility slide-in-from-bottom-* {
    --tw-enter-translate-y: calc(--value(integer)*var(--spacing));
    --tw-enter-translate-y: calc(--value(--percentage-*, --percentage-translate-*)*100%);
    --tw-enter-translate-y: calc(--value(ratio)*100%);
    --tw-enter-translate-y: --value(--translate-*, [percentage], [length]);
}

@utility slide-in-from-left {
    --tw-enter-translate-x: -100%;
}

@utility slide-in-from-left-* {
    --tw-enter-translate-x: calc(--value(integer)*var(--spacing)*-1);
    --tw-enter-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
    --tw-enter-translate-x: calc(--value(ratio)*-100%);
    --tw-enter-translate-x: calc(--value(--translate-*, [percentage], [length])*-1);
}

@utility slide-in-from-right {
    --tw-enter-translate-x: 100%;
}

@utility slide-in-from-right-* {
    --tw-enter-translate-x: calc(--value(integer)*var(--spacing));
    --tw-enter-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*100%);
    --tw-enter-translate-x: calc(--value(ratio)*100%);
    --tw-enter-translate-x: --value(--translate-*, [percentage], [length]);
}

@utility slide-in-from-start {
    &:dir(ltr) {
        --tw-enter-translate-x: -100%;
    }

    &:dir(rtl) {
        --tw-enter-translate-x: 100%;
    }
}

@utility slide-in-from-start-* {
    &:where(:dir(ltr), [dir="ltr"], [dir="ltr"]*) {
        --tw-enter-translate-x: calc(--value(integer)*var(--spacing)*-1);
        --tw-enter-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
        --tw-enter-translate-x: calc(--value(ratio)*-100%);
        --tw-enter-translate-x: calc(--value(--translate-*, [percentage], [length])*-1);
    }

    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"]*) {
        --tw-enter-translate-x: calc(--value(integer)*var(--spacing));
        --tw-enter-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*100%);
        --tw-enter-translate-x: calc(--value(ratio)*100%);
        --tw-enter-translate-x: --value(--translate-*, [percentage], [length]);
    }
}

@utility slide-in-from-end {
    &:dir(ltr) {
        --tw-enter-translate-x: 100%;
    }

    &:dir(rtl) {
        --tw-enter-translate-x: -100%;
    }
}

@utility slide-in-from-end-* {
    &:where(:dir(ltr), [dir="ltr"], [dir="ltr"]*) {
        --tw-enter-translate-x: calc(--value(integer)*var(--spacing));
        --tw-enter-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*100%);
        --tw-enter-translate-x: calc(--value(ratio)*100%);
        --tw-enter-translate-x: --value(--translate-*, [percentage], [length]);
    }

    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"]*) {
        --tw-enter-translate-x: calc(--value(integer)*var(--spacing)*-1);
        --tw-enter-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
        --tw-enter-translate-x: calc(--value(ratio)*-100%);
        --tw-enter-translate-x: calc(--value(--translate-*, [percentage], [length])*-1);
    }
}

@utility slide-out-to-top {
    --tw-exit-translate-y: -100%;
}

@utility slide-out-to-top-* {
    --tw-exit-translate-y: calc(--value(integer)*var(--spacing)*-1);
    --tw-exit-translate-y: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
    --tw-exit-translate-y: calc(--value(ratio)*-100%);
    --tw-exit-translate-y: calc(--value(--translate-*, [percentage], [length])*-1);
}

@utility slide-out-to-bottom {
    --tw-exit-translate-y: 100%;
}

@utility slide-out-to-bottom-* {
    --tw-exit-translate-y: calc(--value(integer)*var(--spacing));
    --tw-exit-translate-y: calc(--value(--percentage-*, --percentage-translate-*)*100%);
    --tw-exit-translate-y: calc(--value(ratio)*100%);
    --tw-exit-translate-y: --value(--translate-*, [percentage], [length]);
}

@utility slide-out-to-left {
    --tw-exit-translate-x: -100%;
}

@utility slide-out-to-left-* {
    --tw-exit-translate-x: calc(--value(integer)*var(--spacing)*-1);
    --tw-exit-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
    --tw-exit-translate-x: calc(--value(ratio)*-100%);
    --tw-exit-translate-x: calc(--value(--translate-*, [percentage], [length])*-1);
}

@utility slide-out-to-right {
    --tw-exit-translate-x: 100%;
}

@utility slide-out-to-right-* {
    --tw-exit-translate-x: calc(--value(integer)*var(--spacing));
    --tw-exit-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*100%);
    --tw-exit-translate-x: calc(--value(ratio)*100%);
    --tw-exit-translate-x: --value(--translate-*, [percentage], [length]);
}

@utility slide-out-to-start {
    &:dir(ltr) {
        --tw-exit-translate-x: -100%;
    }

    &:dir(rtl) {
        --tw-exit-translate-x: 100%;
    }
}

@utility slide-out-to-start-* {
    &:where(:dir(ltr), [dir="ltr"], [dir="ltr"]*) {
        --tw-exit-translate-x: calc(--value(integer)*var(--spacing)*-1);
        --tw-exit-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
        --tw-exit-translate-x: calc(--value(ratio)*-100%);
        --tw-exit-translate-x: calc(--value(--translate-*, [percentage], [length])*-1);
    }

    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"]*) {
        --tw-exit-translate-x: calc(--value(integer)*var(--spacing));
        --tw-exit-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*100%);
        --tw-exit-translate-x: calc(--value(ratio)*100%);
        --tw-exit-translate-x: --value(--translate-*, [percentage], [length]);
    }
}

@utility slide-out-to-end {
    &:dir(ltr) {
        --tw-exit-translate-x: 100%;
    }

    &:dir(rtl) {
        --tw-exit-translate-x: -100%;
    }
}

@utility slide-out-to-end-* {
    &:where(:dir(ltr), [dir="ltr"], [dir="ltr"]*) {
        --tw-exit-translate-x: calc(--value(integer)*var(--spacing));
        --tw-exit-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*100%);
        --tw-exit-translate-x: calc(--value(ratio)*100%);
        --tw-exit-translate-x: --value(--translate-*, [percentage], [length]);
    }

    &:where(:dir(rtl), [dir="rtl"], [dir="rtl"]*) {
        --tw-exit-translate-x: calc(--value(integer)*var(--spacing)*-1);
        --tw-exit-translate-x: calc(--value(--percentage-*, --percentage-translate-*)*-100%);
        --tw-exit-translate-x: calc(--value(ratio)*-100%);
        --tw-exit-translate-x: calc(--value(--translate-*, [percentage], [length])*-1);
    }
}